.mainDiv h1{
    text-align: center;
}

.date{
    display: flex;
    justify-content: center;
}
.bookedtrainDetails{
    padding: 10px 20px ;
    display: flex;
    justify-content: space-evenly;
}

.pnrdetails{
    padding: 10px 20px ;
    display: flex;
    justify-content: space-evenly;
}

.bookedPassengerDetails{
    padding: 10px 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;   
}

.arrowimg{
    width: 70px;
    height: 30px;
}